/* CSS Document */

body {
	
}

div.videoPlayer {
	max-height: 600px;
	max-width: 900px;
	border: solid;
	background-image:url(images/background.jpg);
	background-repeat:no-repeat;
	background-size: 600px 500px;
	

}

div.videoPlayer div.videoLeft {
	margin-left: 140px;
	margin-top: 50px;
}

h2 {
	text-align: left;	
	font-family: Yatra One, monospace;
	font-size:25px;
	color: purple;
	margin-bottom: 10px;
	margin-left: 177px;
	max-width: 50%;
}

div.videoLeft {
	width: 320px;
	height: 180px;
	border:solid; 
	float: left;

	
}
div.videoControls {
		border: solid;
		border-radius: 5px;
}
 
div.videoRight {
	max-width: 200px;	
	height: 500px;
	overflow:auto;
	border: solid;
	background: black;
}
p {
	color: white;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;	
}

div.videoRight a img {
	width: 100%;
	
}